<div class="form-group">
  <label for="title">Title</label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>
<div class="form-group">
  <label for="likes">Likes</label>
 <input type = "number" name = "likes" id = "likes" class = "form-control" >
</div>
<!-- <div>
  <lable for = "imagename" >Image</lable>
  <input type = "file" name = "imagename" id = "imagename"  class = "form-control">
</div> -->
<div>
<label for = "tags">Tags</label>
<select name = "tags" id = "tags">
  <option value = "sports">sports</option>
  <option value = "politics">politics</option>
  <option value = "uttarakhand">uttarakhand</option>
  <option value = "maharashtra">maharashtra</option>
  <option value = "mumbai">mumbai</option>
  <option value = "curruption">curruption</option>
  <option value = "townwarta-special">townwarta-special</option>
</select>
<image ></image>

</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>