
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TOWNWARTA</title>
</head>
<body>
    <h2 style = "text-align : center ">TOWNWARTA DONATORS</h2>
    <form style = "background-color: rgb(168, 135, 177);" >
        <div class="col" style = "margin-top: 50px ; padding:50px ">
            <input type="text" name = "name" id = "name"class="form-control" placeholder="Fullname">
          </div>
        <div class="form-row" style = "border: 3px rebeccapurple dotted;">
            
          <div class="col-7">
            <input type="text"name = "street" class="form-control" placeholder="building and street">
          </div>
          <div class="col">
            <input type="text" name = "city" class="form-control" placeholder="city">
          </div>
          <div class="col">
            <input type="text" name = "landmark"class="form-control" placeholder="landmark">
          </div>
          
        </div>
        <div class="col" style = "margin : 50px 200px ; ">
            <input type="number" name = "zip" class="form-control" placeholder="Zip">
          </div>
        
        <div class="col" style = "margin : 50px 200px">
            <input type="text" name = "state" class="form-control" placeholder="State">
          </div>
          <div class="col" style = "margin : 10px 200px ">
            <input type="number" name = "mobile" class="form-control" placeholder="mobile">
          </div>
        <div style = "text-align: center; margin-top: 20px;">
            <button type="submit" class="btn btn-primary">i want to become a donator</button>
        </div>
      </form>
</body>