.makenews{
    text-align: center;
    padding-top: 40px;
};
.newstitle-label{
   padding-bottom: 0px;
   color:blue;
}
.newstitle-input{
    color:brown;
};
.newsheading{
   
    color:blue
};

#firstform{
   margin: 30px;
   align-items: center;
    border: 10px;
    border-color: black;
   }
  

.form-alert{
    color:blue
}

#data{
    color: rgb(3, 3, 22);
    background-color: blueviolet;
}