.makenews{
    text-align: center;
    padding-top: 40px;
};
.newstitle-label{
   padding-bottom: 0px;
   color:blue;
}
.newstitle-input{
    color:brown;
};
.newsheading{
   
    color:blue
}

.first{

   margin: 50px;
 
    
   }
  

.form-alert{
    color:blue
}

#data{
    color: rgb(3, 3, 22);
    background-color: blueviolet;
}